.container{
	position: relative;
	top: 20px;
	background-color: #035bd3;
	width: 370px;
	border-radius: 5px;

}
.content{
	background-color: #86d9b6;
	padding: 20px 20px 20px 25px;
	

}

.btn{
	width: 50px;
	height: 50px;
	background-color: #035bd3;
	border: none;
 	border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px;
    color: white; 
}

.big-btn{
	width: 115px;
}

.btn:hover, .btn:focus.btn:hover{
	background-color: #4d62d4;
	 color: white;
	 outline:none;
}


.btn:active {
  background-color: #4d62d4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  outline: none;
   color: white
 
}

.btn:focus{
 background-color: #035bd3;
 outline:none;
  color: white
}


.form-control{
	width: 320px;
	border: none;
 	border-radius: 5px;
    /*box-shadow: 0 9px #999;*/
    margin-top: 5px;
    color: #035bd3;

}
input{
	text-align: right;

}
